*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    padding-top: 1%;
    font-size: 40px;
    width: 100%;
}
#main_scence{
    position: relative;
    text-align: center;
}
#main_scence button{
    width: 200px;
    height: 50px;
    font-size: 32px;
}
