*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    padding-top: 1%;
    font-size: 40px;
    width: 100%;
}
.image-container {
    display: flex;          /* 開啟彈性佈局，裡面的東西會自動排成一排 */
    justify-content: center; /* 讓圖片在中間對齊 */
    gap: 20%;
}
img{
    width: 30%;
    height: auto;

}

